<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    <title> Covid Tracker </title>
    <style>
        body{
        max-width: 1200px;
        margin: 20px auto;
        padding: 0 20px;
        font-family: 'Noto Serif', serif;
        max-width: 1200px;
        }
        nav{
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ddd;
        text-transform: uppercase;
        }
        nav ul{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        }
        nav li{
        list-style-type: none;
        margin-left: 20px;
        }
        nav h1{
        font-size: 3em;
        }
        nav p, nav a{
        color: #777;
        font-weight: 300;
        }
        footer{
        color: #777;
        text-align: center;
        margin: 80px auto 20px;
        }
        h2{
        margin-bottom: 40px;
        }
        h3{
        text-transform: capitalize;
        margin-bottom: 8px;
        }

        .nationwide-statistics{
        float: left;
        padding-left: 12%;
        margin: 2%
        }

        .mapping-data{
        width: 600px;
        height: 400px;
        float: left;
        padding: 5px;
        margin: 2%
        }

        .us-map{
        width: 600px;
        height: 400px;
        float: left;
        padding: 5px;
        margin: 2%;
        }
           
        .foot{
        position: fixed;
        left: 50%;
        bottom: -200px;
        transform: translate(-50%, -50%);
        margin: 0 auto;
        }

        .total-confirmed{
        width: 250px;
        height: 100px;
        border: 1px solid black;
        margin-right: auto;
        margin-bottom: 20px;
        padding: 5px;
        text-align: center;
        }
       
        .total-deaths{
        width: 250px;
        height: 100px;
        border: 1px solid black;
        margin-right: auto;
        margin-bottom: 20px;
        padding: 5px;
        text-align: center;    
        }

        .total-recovered{
        width: 250px;
        height: 100px;
        border: 1px solid black;
        margin-right: auto;
        margin-bottom: 20px;
        padding: 5px;
        text-align: center;      
        }
        
        .today-cases{
        width: 250px;
        height: 100px;
        border: 1px solid black;
        margin-right: auto;
        margin-bottom: 20px;
        padding: 5px;
        text-align: center;
        }

        .drop-down{
            margin: auto;
            float: left;
        }

        .state-data-display{
        width: 600px;
        height: 700px;
        padding: 10px;
        margin: 2%;
        border: 1px solid black;
        position: relative;
        left: 300px;
        }
        
    </style>
</head>