<nav> 
    <div class = "site-title">
        <a href="/"><h2>Covid-19: USA Tracker</h2>
        </a>
    </div>
     <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/states">States</a></li>
        <li><a href="/timeline">Timeline</a></li>
     </ul>
</nav>